<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Readability</title>
</head>

<body>
    <h1>Leesbaarheid</h1>
    <p>Het checken op leesbaarheid.</p>

    <form action="/" method="post">
        <input name="readableText" type="textarea" class="ghost-input" placeholder="Enter text" required>
        <input type="submit" class="ghost-button" value="check readability">
    </form>

    <div>
        <% output.messages.forEach(mes => { %>
            <p class="confidence-<%= mes.confidenceLabel%>">
                <%= mes.actual %>
            </p>
            <% }) %>
    </div>


</body>

</html>